<div class="text-right" [ngClass]="{hide : hideCreate === true}">
	<a [routerLink]="['/companies/create/']" class="btn btn-primary">Create</a>
</div>

<h4>Companies</h4>
<div class="d-flex flex-wrap">
	<div *ngFor="let company of companies" class="card col-4">
		<div class="card-body">
			<h5 class="card-title">{{ company.name }}</h5>

			<dt>Name:</dt>
			<dd>{{ company.name }}</dd>

			<dt>Logo:</dt>
			<dd>{{ company.logoUrl }}</dd>

			<dt>E-mail:</dt>
			<dd>{{ company.email }}</dd>

			<dt>Categories:</dt>
			<dd>
				<ul>
					<li *ngFor="let category of company.categories">{{category}}</li>
				</ul>
			</dd>

			<a [routerLink]="['/companies/edit', company.id]" class="btn btn-primary">Edit</a>
		</div>
	</div>
</div>